/*Utility Class*/
.hidden
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

/*Fonts*/
@font-face {
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-style: normal;
}


body
{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3
{
    font-family: 'Playfair Display', serif;
	color: #986600;
}



.container {
  margin: 0px auto;
  padding: 0px;
  max-width: 1200px; 
  padding: 0px 10px 0 10px;
}

#mainHeader
{
  margin-bottom: 20px;
  margin-top: 0px;
}

/*want to push buger to far right, set parent as flex*/
#mainNav
{
  display: flex;
  flex-direction: column;
  background: #5D7132;
  margin: 0 auto;
}

#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  width: 41px;
  height: 70px;
  border: 0px;
  transition: all 400ms ease;
  margin-left: auto;
}


#mainNav:hover button
{
  background: url(../images/burger_hover.svg) center no-repeat;
  width: 41px;
  height: 70px;
  border: 0px;
  transition: all 400ms ease;
  margin-left: auto;
}
#mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mainNav li a
{
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: white;
  text-align: center;
}


#mainNav li
{
  border-bottom: 1px solid white;
}

#mainNav li:first-child
{
  border-top: 1px solid white;
}

#mainNav li:last-child
{
  margin-bottom: 10px;
}

#burgerCon
{
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}


/*Main Nav colour hover*/
#home:hover
{
	color: #D8AE58;
}

#about:hover
{
	color: #D8AE58;
}

#project:hover
{
	color: #D8AE58;
}

#newsletters:hover
{
	color: #D8AE58;
}

#links:hover
{
	color: #D8AE58;
}

#contact:hover
{
	color: #D8AE58;
}
/*DONE MAIN COLOUR HOVER*/


#burgerCon.slideToggle
{
  display: block;
}


#traaLogo
{
	display: block;
	max-width: 120px;
	margin: 0 auto;
}

#logoCon
{
	display: flex;
	max-width: 375px;
	margin: 0 auto;
	margin-top: 20px;
}

#logoCon h1
{
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	font-size: 25px !important;
}

#lineMobile
{
	max-width: 364px;
	height: 1px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #A1C157;
}

#homeInfo
{
	display: flex;
	flex-direction: row;
	margin-top: 60px;
}

#homeInfo p
{
	color: #727070;
	font-size: 16px;
	line-height: 22px;
}

#mapMobile
{
	width: 163px;
	height: 251px;
}

#mainInfo p
{
	margin-top: 30px !important;
	color: #727070;
	font-size: 16px;
	margin: 0 auto;
	line-height: 22px;
	text-align: justify;
}


