.hidden
{
  display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

/*Fonts*/
@font-face {
font-weight: normal;
font-style: normal;
}


body
{
  margin: 0;
  padding: 0;
  font-size: 100%;
}


/*all links and lists*/
a 
{ 
  color:#848383; 
  text-decoration: none;  
  transition:all .1s linear 0s;
  font-family: 'EB Garamond', serif;
}


/*All headers*/
h1, h2, h3
{
    font-family: 'EB Garamond', serif;
    color: #986600;
    font-size: 23px;
}


/*All paragraphs*/
p
{
  letter-spacing: .25px;
  line-height: 18px;
  font-family: 'EB Garamond', serif;
  color: #727070; 
  font-size: 18px;
}

/*START MAIN NAV*/

.container {
  margin: 0px auto;
  padding: 0px;
  max-width: 1200px; 
  padding: 0px 10px 0 10px;
}

#mainHeader
{
  margin-bottom: 20px;
  margin-top: 0px;
}

/*want to push buger to far right, set parent as flex*/
#mainNav
{
  display: flex;
  flex-direction: column;
  background: #5D7132;
  margin: 0 auto;
}

/*Hamburger menu*/
#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  width: 41px;
  height: 70px;
  border: 0px;
  transition: all 400ms ease;
  margin-left: auto;
  margin-right: 10px;
}

/*Hamburger menu and hover*/
#mainNav:hover button
{
  background: url(../images/burger_hover.svg) center no-repeat;
  width: 41px;
  height: 70px;
  border: 0px;
  transition: all 400ms ease;
  margin-left: auto;
}


/*Main Nav button*/
#mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mainNav li a
{
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: white;
  text-align: center;
}

#mainNav li
{
  border-bottom: 1px solid white;
}

#mainNav li:first-child
{
  border-top: 1px solid white;
}

#mainNav li:last-child
{
  margin-bottom: 10px;
}

#burgerCon
{
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}


/*Main Nav colour hover*/
#home:hover, #about:hover, #project:hover, #newsletters:hover, #links:hover, #contact:hover
{
  color: #D8AE58;
}


#burgerCon.slideToggle
{
  display: block;
}

/*Start Logo for top*/
#traaLogo
{
  display: block;
  max-width: 120px;
  margin: 0 auto;
}


#TraaLogo, #homeInfo h1, #tabletFL , #Hats, #TShirts, #KeyChains
{
  display: none;
}

#logoCon
{
  display: flex;
  max-width: 375px;
  margin: 0 auto;
  margin-top: 20px;
}



#logoCon h1
{
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 25px !important;
}

/*Green line between selections*/
#firstline, #secondline, #thirdline, #forthline, #fifthline
{
  max-width: 364px;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #A1C157;
}



/*START HOME PAGE*/


/*Text and map*/
#homeInfo 
{
  margin-top: 60px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 40px;
}


/*Map text */
.mapInfo p
{
  line-height: 22px;
  font-size: 15px !important;
}


/*Map image*/
#homeInfo img
{
  display: flex;
}

.mapInfo
{
  display: flex;
  flex-direction: row;
}

/*Map for mobile*/
#map
{
  width: 163px;
  height: 251px;
}


/*START MEMEBERSHIP AND FUNDRAISING SELECTION*/

#homeContainer
{
  padding-top: 50px;
}

/*MAKE MEMBERSHIP AND FUNDRAISING LAYOUT SIDE BY SIDE*/
.homeCon
{
  display: flex;
  justify-content: space-evenly;
}

.homeCon p
{
  line-height: 22px;
  padding-top: 10px;
  width: 179px;
}

/*Read more buttons*/

#mreadMore, #freadMore, #mainreadMore
{
  color: #5D7132;
  text-decoration: underline;
}

/*Read more hover over*/
#mreadMore:hover, #freadMore:hover
{
  color: #D8AE58;
  text-decoration: underline;
}


/*headers for membershiper and fundraising*/
#membership h2, #fundraising h2
{
  display: block;
  width: 173px;
  background-color: #5D7132;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #FFEBBE;
  border-radius: 5px;
  font-size: 20px;
}

/*Join and donate button*/
#joinUs, #donate
{
  font-family: 'EB Garamond', serif;
  display: block;
  width: 110px;
  background-color: #676767;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #FFF8DB;
  border-radius: 10px;
  border: 2px solid #1F2E01;
  margin-top: 30px;
  flex-wrap: wrap;
}


/*Join us and donate button hovver over*/
#joinUs:hover, #donate:hover
{
  background-color: #5D7132;
  color: #FFFFFF;
}

/*END MEMBERSHIP AND FUNDRAISING SELECTION*/



/*START SUPPORTERS LOGOS*/

/*Fix sizing and spots of supporters logo*/
#supportLogos
{
  margin-top: 50px;
}

.suportersLogos
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#supportMelcher, #supportGuillevin, #supportMuma, #supportTryRecycling, #supportAnglingSports
{
  padding-top: 35px;
}

/*Add proper size to logos*/
#melchers
{
  width: 150px;
  height: 55px;
}

#guillevin
{
  width: 160px;
  height: 42px;
}

#muma 
{
  width: 146px;
  height: 41px;
}

#tryRecycling
{
  width: 146px;
  height: 58px;
}

#anglingSports
{
  width: 97px;
  height: 109px;
} 

/*START HOME PRODUCT SELECTION*/


/*Move down and fix spot of product*/
#products
{
  padding-top: 50px;
  padding-bottom: 10px;
}


/*Move header for products to center and move product selection down, and edit header size*/
#products h1

{
  text-align: center;
  padding-bottom: 40px;
  font-size: 26px;
}

/*position three products with info and header*/
.Products
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*edit the font width for info*/
.Products p
{
  line-height: 21px;
  width: 120px;
}


/*changed position of product headers, (hats, tshirts, and keychains*/
.Products h2
{
  text-align: center;
  padding-bottom: 10px;
}

/*ADD PROPER WIDTH AND HEIGHT TO PRODCUTS IMAGES*/
#hats, #tShirts, #keyChains
{
  width: 110px;
  height: 170px;
}

/*END PRODCUTS HOME SELECTION*/


/*START GALLERY FOR HOME PAGE*/

/*fix position of gallery images*/
#gallery
{
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}


/*fix poistion and size of gallery images*/
#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 112.5px;
  height: 113px;
}


/*END HOME PAGE*/


/*START ABOUT PAGE*/

/*about top text*/
#aboutTraa
{
  font-size: 17px;
  letter-spacing: .25px;
  line-height: 18px;
}

#aboutInfo
{
  margin-top: 60px;
}

/*Move video down*/
#aboutVideo video
{
  display: flex;
  padding-top: 60px;
  margin: 0 auto;
}

.moreinfoAbout
{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
/*DONE VIDEO SELECTION*/

/*Fix images and position of information selection images*/
.boyHelping
{
  margin-bottom: 30px;
  margin-top: 70px;
  margin: 0 auto;
  width: 324.5px;
  height: 267.5px;
}

.measureFish
{
  margin: 0 auto;
  width: 324.5px;
  height: 267.5px;
}

/*Seprate images and text */
.moreinfoAbout p
{
  margin-bottom: 40px;
  padding: 18px;
}

/*Fix sizes of text*/
.moreinfoAbout
{
  margin-top: 40px;
}


/*Fix container for about TRAA (list)*/
.aboutContainer ul li
{
  font-family: 'EB Garamond', serif;
  color: #727070; 
  font-size: 16px;
  letter-spacing: .25px;
  margin-top: 12px;
  line-height: 18px;
}

/*START TRAA workers selection*/

.peopleatTraa
{
  margin-top: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
}

/*Move position of header to center*/
#traaPeople h1
{
  font-size: 30px;
  text-align: center;
}

#traaPeople
{
  padding-top: 60px;
  padding-bottom: 40px;
}

/*Fix sizes of headshots*/
.peopleatTraa img
{
  margin-top: 30px;
  width: 100px;
  height: 100px;
}

/*Fix first row of headshots*/
#firstheadShots
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*Fix second row of headshots*/
#secondheadShots
{
  display: flex;
  justify-content: space-evenly;
}

/*Change headers font for headshots names*/
#firstheadShots h2
{
  font-size: 16px;
  text-align: center;
}

#firstheadShots p
{
  font-size: 12px;
  text-align: center;
}

#secondheadShots h2
{
  font-size: 16px;
  text-align: center;
}

/*Fix headshots paragraphs*/
#secondheadShots p
{
  font-size: 12px;
  text-align: center;
}


/*putting images side by side*/
/*Fix fonts for headshots*/
#volunteerChairs ul li
{
  font-family: 'EB Garamond', serif;
  color: #727070; 
  font-size: 18px; 
  flex-wrap: wrap;
  line-height: 26px;
}


/*Bottom */
#warmWater
{
  font-family: 'EB Garamond', serif;
  color: #727070; 
  font-size: 18px;
  line-height: 26px;
  width: 200px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

/*Fix positions */
.chair
{
  margin: 0 auto;
  flex-wrap: wrap;
}

.chair h4
{
  font-size: 22px;
  padding-bottom: 30px;
  font-family: 'EB Garamond', serif;
  color: #986600; 
}

#chairfirstRow, #chairsecondRow, #thirdchairRow
{
  display: flex;
}

/*MOVED VOLUNTEERCHAIRS DOWN AND UP*/
#volunteerChairs
{
  padding: 10px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}

#habitat, #hatcheryManagement, #publicRelations, #trout
{
  line-height: 24px;
  margin-top: 20px;
  width: 200px;
}

/*FINISH ABOUT PAGE*/


/*START CONTACT PAGE */

.contactInfo p
{
  margin-top: 50px;
}

/*Look of form*/
#form
{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom:10px;
}


#form label
{
  padding: 10px;
}



/*Contact form texts*/
#contactForm input[type=text], #contactForm input[type=email], #contactForm input[type=phonenumber], #contactForm input[type=message]
{
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  padding-left: 10px;
  font-size: 17px;
  margin: 0 auto;
  width: 303px;
  height: 44px;
  background-color: #E5F2C8;
  border: 1px solid #304600;
}

/*Message contact area*/
#message
{
  width: 303px;
  padding-bottom: 70px;
  height: 122px !important;
  font-size: 177px;
}

/*Submit button*/
#contactForm input[type=submit] 
{
  font-family: 'EB Garamond', serif;
  width: 120px;
  font-size: 18px;
  background-color: #676767;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #FFF8DB;
  border-radius: 10px;
  border: 2px solid #1F2E01;
  margin-top: 20px !important;
  margin: 0 auto;
}

#contactForm:hover input[type=submit]
{
  background-color: #022B41;
  color: white;
  border: 2px solid black;
}

/*END CONTACT PAGE*/


/*START FOOTER*/

#logos
{
  flex-direction: row;
}

/*Footer Nav font and colours*/
#Home, #About, #Project, #Newsletters, #Links, #Contact
{
  color: #B1FF00;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

/*Footer Nav hovers*/
#Home:hover, #About:hover, #Project:hover, #Newsletters:hover, #Links:hover, #Contact:hover
{
  color: #6C7DFF;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}


/*Footer Background*/
#footerCon
{
  background-color: #2F2D2D;
  flex-wrap: wrap;
  margin-top: 50px;
}

/*Footer contact information*/
#contactInformation p
{
  text-align: center;
  line-height: 3px;
  padding-top: 20px;
}

/*Footer logo*/
#footerLogos
{
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}


#footerBottom
{
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 8px;
}

/*social media bottom icons*/
#socialMedia
{
  width: 40%;
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin-left: auto;
}

/*adding space between icons*/
#socialMedia a img
{
  padding: 5px;
}

/*footer logo*/
#footertraaLogo
{
  width: 92px;
  height: 92px;
  margin-top: 5px;
}

/*Copy right paragraph*/
#footerCon p
{
  color: white;
  font-size: 16px;
  margin-top: 7px;
  font-size: 13px;
}

#footNav ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*Footer Infomation*/
#footerInfo 
{
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding-top: 10px;
}


/*FINISH FOOTER*/


@media screen and (min-width: 430px) {


  /*MAIN NAV*/


/*Logo and Header*/
#logoCon
{
  display: flex;
  max-width: 3500px;
  margin-top: 20px;
}

#logoCon h1
{
  font-size: 27px !important;
  margin-top: 65px;
}

#traaLogo
{
  display: flex;
  max-width: 150px;
  margin: 0 auto;
}

  /*Lines*/
#firstline, #secondline, #thirdline, #forthline, #fifthline
{
  max-width: 464px;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #A1C157;
}


/*Map info and image*/
.mapInfo p
{
  line-height: 22px;
  padding: 10px;
  font-size: 19px !important;
}
#map
{
width: 175px;
height: 261px;
}


/*ADD PROPER WIDTH AND HEIGHT TO PRODCUTS IMAGES*/
#hats, #tShirts, #keyChains
{
  width: 132px;
  height: 194px;
}

/*fix poistion and size of gallery images*/
#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 132.5px;
  height: 133px;
}



/*END HOME PAGE*/


/*START ABOUT */

/*Video size*/
#aboutVideo video
{
  width: 350px;
}

/*Fix sizes of headshots*/
.peopleatTraa img
{
  width: 130px;
  height: 130px;
}


/*Fix size of header for volunteer names*/
.chair h4
{
  font-size: 26px;
}

/*END ABOUT*/

/*START CONTACT*/

/*Change font size of contact information paragraph*/

.contactInfo p
{
  font-size: 22px;
  line-height: 24px;
}

/*Contact form texts*/
#contactForm input[type=text], #contactForm input[type=email], #contactForm input[type=phonenumber], #contactForm input[type=message]
{
  width: 333px;
  height: 64px;
}

/*Message contact area*/
#message
{
  width: 333px;
  height: 130px !important;
}

/*Submit button*/
#contactForm input[type=submit]
{
  width: 140px;
  font-size: 20px;
}
/*FOOTER*/


#footertraaLogo
{
  width: 115px;
  height: 115px;
  margin-top: 5px;
}

/*Change font size of footer nav to bigger*/
  #Home, #About, #Project, #Newsletters, #Links, #Contact
{
  color: #B1FF00;
  font-family: 'EB Garamond', serif;
  font-size: 19px;
}

#Home:hover, #About:hover, #Project:hover, #Newsletters:hover, #Links:hover, #Contact:hover
{
  color: #6C7DFF;
  font-family: 'EB Garamond', serif;
  font-size: 19px;
}

/*Change font size of contact information paragraph*/
#contactInformation p
{
  font-size: 16px;
  text-align: center;
  line-height: 7px;
  padding-top: 20px;
}

#footerInfo 
{
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  padding-top: 10px;
}

/*Change spot and sizes of social media icons*/
#socialMedia
{
  width: 40%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

}



@media screen and (min-width: 500px) {


/*MAIN NAV*/


/*Logo and Header*/
#logoCon
{
  display: flex;
  max-width: 100%;
  margin-top: 20px;
}

#logoCon h1
{
  font-size: 30px !important;
  margin-top: 65px;
}

#traaLogo
{
  display: flex;
  max-width: 170px;
}

/*Lines*/
#firstline, #secondline, #thirdline, #forthline, #fifthline
{
  max-width: 564px;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #A1C157;
}

/*Map info and image*/
.mapInfo p
{
  line-height: 22px;
  padding: 10px;
  font-size: 20px !important;
}
#map
{
width: 195px;
height: 281px;
}

/*headers for membershiper and fundraising*/
#membership h2, #fundraising h2
{
  display: block;
  width: 193px;
  background-color: #5D7132;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #FFEBBE;
  border-radius: 5px;
  font-size: 20px;
}

.homeCon p
{
  margin: 0 auto;
  width: 180px;
}

#joinUs, #donate
{
  width: 140px;
}

/*Map info selection*/
  .mapInfo p
  {
    width: 400px;
    margin: 0 auto;
  }

  #supportLogos p
  {
    width: 480px;
  }

/*Add proper size to logos*/
#melchers
{
  width: 180px;
  height: 75px;
}

#guillevin
{
  width: 230px;
  height: 62px;
}

#muma 
{
  width: 186px;
  height: 61px;
}

#tryRecycling
{
  width: 186px;
  height: 78px;
}

#anglingSports
{
  width: 117px;
  height: 129px;
}

/*ADD PROPER WIDTH AND HEIGHT TO PRODCUTS IMAGES*/
#hats, #tShirts, #keyChains
{
  width: 155px;
  height: 224px;
}

#products h1

{
  font-size: 35px;
}

.Products h2
{
  font-size: 26px;
}


.Products p
{
  font-size: 19px;
  margin: 0 auto;
  width: 155px;
}

/*fix poistion and size of gallery images*/
#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 152.5px;
  height: 153px;
}


.galleryImages
{
  padding-top: 40px;
}

/*END HOME PAGE*/


/*START ABOUT PAGE*/

#aboutTraa 
{
    font-size: 22px;
    letter-spacing: .30px;
    line-height: 22px;
}

/*Fix container for about TRAA (list)*/
.aboutContainer ul li
{
  font-size: 20px;
  letter-spacing: .30px;
}

#aboutVideo video 
{
    width: 360px;
}

.boyHelping, .measureFish
{
  width: 344.5px;
  height: 287.5px;
}

/*Fix sizes of text*/
.moreinfoAbout p
{
  font-size: 20px;
}

/*Fix sizes of headshots*/
.peopleatTraa img
{
  width: 145px;
  height: 145px;
}

 #firstheadShots h2, #secondheadShots h2 
{
    font-size: 20px;
    text-align: center;
}

#firstheadShots p, #secondheadShots p 
{
    font-size: 18px;
    text-align: center;
}


/*Fix size of header for volunteer names*/
.chair h4
{
  font-size: 28px;
}

/*END ABOUT*/

/*FOOTER*/

/*Change font size of footer nav to bigger*/
  #Home, #About, #Project, #Newsletters, #Links, #Contact
{
  color: #B1FF00;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
}

#Home:hover, #About:hover, #Project:hover, #Newsletters:hover, #Links:hover, #Contact:hover
{
  color: #6C7DFF;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
}

/*Change font size of contact information paragraph*/
#contactInformation p
{
  font-size: 18px;
  text-align: center;
  line-height: 7px;
  padding-top: 20px;
}

#footerInfo 
{
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  padding-top: 10px;
}

/*Change spot and sizes of social media icons*/
#socialMedia
{
  width: 40%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

}


@media screen and (min-width: 508px) {

#contactForm input[type=text], #contactForm input[type=email], #contactForm input[type=phonenumber], #contactForm input[type=message]
{
  width: 350px;
  height: 74px;
}

/*Message contact area*/
#message
{
  font-size: 17px;
  width: 350px;
  height: 140px !important;
}


@media screen and (min-width: 600px) {


/*START TOP*/
  #traaLogo
  {
    max-width: 180px;
  }

  #logoCon h1
{
  font-size: 40px !important;
  margin-top: 65px;
}


/*START HOME PAGE*/


/*Map info selection*/
  .mapInfo p
  {
    width: 400px;
    margin: 0 auto;
  }

  /*supporters logos position*/
  #supportLogos p
  {
    width: 480px;
  }


  #supportMelcher, #supportGuillevin, #supportMuma,#supportTryRecycling, #supportAnglingSports
  {
    margin: 0 auto;
  }

  /*products selection*/
/*ADD PROPER WIDTH AND HEIGHT TO PRODCUTS IMAGES*/
#hats, #tShirts, #keyChains
{
  width: 185px;
  height: 254px;
}

#products h1

{
  font-size: 40px;
}

.Products h2
{
  font-size: 30px;
}


.Products p
{
  font-size: 22px;
  width: 185px;
  line-height: 23px;
}


#products 
{
    padding-top: 70px;
    padding-bottom: 40px;
}

/*fix poistion and size of gallery images*/
#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 182.5px;
  height: 183px;
}

.galleryImages
{
  padding-top: 60px;
}

/*START ABOUT PAGE*/

.moreinfoAbout p {
    font-size: 22px;
    line-height: 22px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 55px;
}

/*START CONTACT PAGE*/

.contactInfo p
{
  font-size: 23px;
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

}



@media screen and (min-width: 725px) {


  #hats, #tShirts, #keyChains
  {
    width: 225px;
    height: 304px;
  }


}


@media screen and (min-width: 736px) {

  #traaLogo 
  {

    max-width: 210px;
  }

  #logoCon h1 
  {

    font-size: 50px !important;
    margin-top: 65px;
  }

  #firstline, #secondline, #thirdline, #forthline, #fifthline 
  {
    max-width: 780px;
  }

  #map
  {
    width: 290px;
    height: 390px;
  }

  /*headers for membershiper and fundraising*/
#membership h2, #fundraising h2
{
  display: block;
  width: 270px;
  height: 60px;
  background-color: #5D7132;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  color: #FFEBBE;
  border-radius: 5px;
  font-size: 20px;
}

.homeCon p
{
  margin: 0 auto;
  width: 270px;
}

#joinUs, #donate
{
  width: 150px;
  height: 55px;
  margin: 0 auto;
  margin-top: 40px;
}


  #supportLogos p
  {
    width: 480px;
  }


/*ADD PROPER WIDTH AND HEIGHT TO PRODCUTS IMAGES*/
#hats, #tShirts, #keyChains
{
  width: 220px;
  height: 310px;
}

#products h1

{
  font-size: 40px;
}

.Products h2
{
  font-size: 32px;
}


.Products p
{
  font-size: 22px;
  margin: 0 auto;
  width: 220px;
}

/*fix poistion and size of gallery images*/
#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 202.5px;
  height: 202px;
}


.galleryImages
{
  padding-top: 60px;
}

/*END HOME PAGE*/


/*START ABOUT PAGE*/

#aboutTraa 
{
    font-size: 22px;
    letter-spacing: .30px;
    line-height: 22px;
}

.boyHelping, .measureFish
{
  width: 444.5px;
  height: 387.5px;
}

/*Fix sizes of text*/
.moreinfoAbout p
{
  font-size: 22px;
}

/*Fix sizes of headshots*/
.peopleatTraa img
{
  width: 175px;
  height: 175px;
}

#traaPeople h1 
{
font-size: 40px;
}

 #firstheadShots h2, #secondheadShots h2 
{
    font-size: 26px;
    text-align: center;
}

#firstheadShots p, #secondheadShots p 
{
    font-size: 22px;
    text-align: center;
}


/*Fix size of header for volunteer names*/
.chair h4
{
  font-size: 40px;
  text-align: center;
}

.chair h2
{
  font-size: 28px;
}

#warmWater, #volunteerChairs ul li
{

  font-size: 22px; 
}

#warmWater h2
{
  font-size: 28px;
}

#volunteerChairs 
{

    display: block;
    flex-direction: row;
}

#chairfirstRow, #chairsecondRow, #thirdchairRow 
{

    display: flex;
    justify-content: space-evenly;

}


/*END ABOUT*/

/*FOOTER*/
#FooterCon
{
  padding-top: 10px;
}

#footertraaLogo 
{

    width: 145px;
    height: 145px;
}
  #Home, #About, #Project, #Newsletters, #Links, #Contact
{
  color: #B1FF00;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
}

#Home:hover, #About:hover, #Project:hover, #Newsletters:hover, #Links:hover, #Contact:hover
{
  color: #6C7DFF;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
}

/*Change font size of contact information paragraph*/
#contactInformation p
{
  font-size: 22px;
  text-align: center;
  line-height: 7px;
  padding-top: 20px;
}

#footerInfo 
{
  color: white;
  font-size: 22px;
  text-align: center;
  line-height: 24px;
  padding-top: 10px;
}

/*Change spot and sizes of social media icons*/
#socialMedia
{
  width: 20%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  margin-bottom: -30px;
}

}

@media screen and (min-width: 768px) {

/*Top for Tablet*/

/*hidden mobile things*/
#button, #logoCon h1, #traaLogo, #firstline, #fifthline, #hats, #tShirts, #keyChains
{
  display: none !important;
}


/*add background and change main header*/
#mainHeader
{
  background-image: url(file:///Users/mallorycoleman/Desktop/Coleman_Mallory_Final-IA/images/fog_filtered_tablet.png);
  width: 768px;
  height: 326.25px;
  flex-wrap: wrap;
  margin: 0 auto;
}


  /*fix main nav text and space betwee*/
  #burgerCon
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  /*fix logo*/
  #logoCon
  {
    order: -1;
  }

  /*move main nav to center*/
  #mainNav
  {
    margin-left: auto;
  }

  
/*Main nav background*/
  #mainNav 
  {
    display: flex;
    flex-direction: column;
    background: rgba(230,230,230,0.8);
    margin: 0 auto;
    margin-top: 60px;
    width: 768px;
    height: 65px;

  }

  /*Main nav text*/
  #burgerMenu
  {
    text-align: center;
    font-size: 29px;
  }

  #mainNav li
  {
    border-bottom: none;
    display: inline;
    margin-left: 20px;
  }

  #mainNav li a 
  {
    display: inline;
    color: #3F5A02;
  }

  #mainNav li a:hover
{
  color: #003041;
  padding-bottom: 5px;
}

  #mainNav ul li:first-child
  {
    border-top: none;
  }

/*fix logo*/
#TraaLogo
{
  width: 204px;
  height: 202px;
  padding-top: 40px;
  display: block;
}


/*START HOME PAGE TABLET*/
/*fix header for map*/
#homeInfo h1
{
  display: block;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 50px;
}


/*Line for mobile and desktop*/
#tabletFL
{
  display: block !important;
  max-width: 724px !important;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #A1C157;
  margin-bottom: 100px;
}


/*change font size for map infomation*/
.mapInfo p
{
  width: 383px;
  font-size: 24px;
}

.mapInfo
{
  padding: 0px;
}


/*change map image size*/
#map
{
  width: 287px;
  height: 496px;
  display: flex;
  margin: 0 auto;
}

 #secondline, #thirdline, #forthline, #fifthline
 {
  margin-bottom: 80px;
  margin-top: 120px;
 }

/*Start membership and fundraising selection*/

#homeContainer
{
  margin-top: 50px;
}

/*headers for membershiper and fundraising*/
#membership h2, #fundraising h2
{
  display: block;
  width: 314.47px;
  height: 86px;
  background-color: #5D7132;
  padding-top: 22px;
  text-align: center;
  color: #FFEBBE;
  border-radius: 5px;
  font-size: 35px;
}

.homeCon p
{
  font-size: 21px;
  line-height: 29px;
  width: 314.47px;
}

#joinUs, #donate
{
  width: 188px;
  height: 68.15px;
  font-size: 30px;
}

/*Start supporter logos selection*/


#supportLogos
{
  margin-right: 100px;
}

#melchers
{
  width: 293.5px;
  height: 103.5px;
}

#guillevin
{
  width: 294px;
  height: 71px;
}

#muma
{
  width: 288.5px;
  height: 78px;
}

#tryRecycling
{
  width: 294.5px;
  height: 110px;
}


#anglingSports
{
  width: 188px;
  height: 213px;
}


#supportLogos
{
  padding-top: 50px;
}


#supportLogos p 
{
  font-size: 20px;
  line-height: 22px;
}
/*done supporter logos*/


/*start products*/

#Hats, #TShirts, #KeyChains
{
  display: block;
  width: 247px;
  height: 450px;
}

/*Done Products*/

/*Start gallery selection*/

#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 237px;
  height: 229px;
}

/*Done Home Tablet*/


/*Tablet footer*/
#footNav ul
{
  font-size: 26px;
}

/*FINISH TABLET LAYOUT*/

}


@media screen and (min-width: 800px) {


#hats, #tShirts, #keyChains
{
  width: 287px;
  height: 460px;
}

#tabletFL, #secondline, #thridline, #forthline, #fifthline
  {
    display: block !important;
    max-width: 800px !important;
  }

.contactInfo p 
{
    font-size: 30px;
    width: 700px;
    line-height: 33px;
    padding-top: 50px;
}

}


@media screen and (min-width: 900px) {

/*add background and change main header*/

.container
{
  padding: 0px;
}

#mainHeader 
{
    background-image: url(file:///Users/mallorycoleman/Desktop/Coleman_Mallory_Final-IA/images/fog_filtered_900.jpg);
    width: 900px;
    height: 382.32px;
    flex-wrap: wrap;
    margin: 0 auto;
}

#mainNav 
{
    width: 900px;
    height: 100px;
    margin-top: 80px;
}


#burgerMenu 
{
    padding-top: 10px;
    text-align: center;
    font-size: 38px;
}

#tabletFL, #secondline, #thirdline, #forthline, #fifthline
{
  display: block !important;
  max-width: 890px !important;
}

#hats, #tShirts, #keyChains
{
  width: 427px;
  height: 560px;
  margin: 0 auto;
}

.Products 
{
  padding: 40px;
  display: flex;
}


#homeInfo h1 
{
    font-size: 70px;
}


.aboutContainer ul li 
{
    margin: 0 auto;
}

#aboutTraa p
{
  font-size: 20px;
}

#aboutVideo video
{
  width: 700px;
}

.boyHelping, .measureFish 
{
    width: 490.5px;
    height: 403.5px;
}

.moreinfoAbout p 
{
    font-size: 22px;
    line-height: 26px;
    width: 570px;
}

 #Home, #About, #Project, #Newsletters, #Links, #Contact
{
  justify-content: space-evenly;
}

#Home:hover, #About:hover, #Project:hover, #Newsletters:hover, #Links:hover, #Contact:hover
{
  justify-content: space-evenly;
}

.peopleatTraa img
{
  margin-top: 30px;
  width: 250px;
  height: 250px;
}

#aboutTraa 
{
  font-size: 30px;
  width: 800px;
  margin: 0 auto;
  line-height: 33px;
}

.aboutContainer ul li 
{
    font-size: 25px;
    letter-spacing: .30px;
    line-height: 35px;
    width: 800px;
}

.chair h4 
{
    font-size: 50px;
    text-align: center;
}

#volunteerChairs ul li 
{
    font-size: 26px;
}

.chair h2 
{
    font-size: 32px;
}

#warmWater h2 
{
    font-size: 32px;
}

#warmWater ul li
{
  font-size: 26px;
}


.contactInfo p 
{
    font-size: 30px;
    width: 700px;
    line-height: 33px;
    padding-top: 50px;
}
}


@media screen and (min-width: 1000px) {

  #mainHeader 
{
    background-image: url(file:///Users/mallorycoleman/Desktop/Coleman_Mallory_Final-IA/images/fog_filtered_1000.jpg);
    width: 1000px;
    background-repeat: no-repeat;
    height: 424.8px;
}

#mainNav 
{
    width: 1000px;
    height: 100px;
    margin-top: 123px;
}

#burgerMenu 
{
    padding-top: 10px;
    text-align: center;
    font-size: 38px;
}


#map 
{
    width: 400px;
    height: 600px;
}

.mapInfo p 
{
    width: 383px;
    font-size: 30px !important;
    line-height: 33px;
}

.homeCon p
 {
    font-size: 26px;
    line-height: 29px;
    width: 314.47px;
}

#Hats, #TShirts, #KeyChains
{
  margin: 0 auto;
  display: block;
  width: 317px;
  height: 520px;
}

#products h1 
{
    text-align: center;
    padding-bottom: 60px;
    font-size: 46px;
}

.Products p 
{
    font-size: 26px;
    margin: 0 auto;
    width: 327px;
}

#eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
{
  width: 287px;
  height: 287px;
}

#gallery
{
  margin-bottom: 50px;
}

#tabletFL, #secondline, #thirdline, #forthline, #fifthline
{
  display: block !important;
  max-width: 1000px !important;
}


}




@media screen and (min-width: 1200px) {


  #TraaLogo
  {
    padding-top: 70px;
    width: 327px;
    height: 324px;
  }

  #mainHeader 
  {
    background-image: url(file:///Users/mallorycoleman/Desktop/Coleman_Mallory_Final-IA/images/fog_filtered_desktop.jpg);
    width: 1200px;
    background-repeat: no-repeat;
    height: 509.77px;
  }

  #mainNav
  {
    width: 1200px;
    height: 96px;
    margin-top: 90px;
  }

  #mainNav li a 
  {
    font-size: 50px;
  }

  #tabletFL, #secondline, #thridline, #forthline, #fifthline
  {
    display: block !important;
    max-width: 1150px !important;
  }

  #membership h2, #fundraising h2
  {
    width: 489.47px;
    height: 134px;
    font-size: 50px;
    padding-top: 40px;
  }

  .homeCon p
  {
    width: 489.47px;
    font-size: 33px;
    line-height: 36px;
  }

  #joinUs, #donate
  {
    width: 307px;
    height: 111.15px;
    font-size: 40px;
    padding-top: 30px;
  }


  #melchers
  {
    width: 352.5px;
    height: 124.5px;
  }

  #guillevin
  {
    width: 375px;
    height: 91px;
  }

  #muma
  {
    width: 353.5px;
    height: 96px;
  }

  #tryRecycling
  {
    width: 344.5px;
    height: 129px;
  }

  #anglingSports
  {
    width: 229px;
    height: 259px;
  }

  #supportLogos p
  {
    font-size: 28px;
    width: 800px;
    line-height: 36px;
  }



  #supportMelcher, #supportGuillevin, #supportMuma, #supportTryRecycling, #supportAnglingSports
  {
    padding-top: 110px;
  }

  #products, #supportLogos, .galleryImages, #homeContainer, #homeInfo
  {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  #Hats, #TShirts, #KeyChains
  {
    width: 350px;
    height: 614px;
  }

  #products h1
  {
    font-size: 60px;
  }

  #products p
  {
    font-size: 32px;
    width: 350px;
    line-height: 34px;
  }


  .Products h2
  {
    font-size: 40px;
  }

  #eggs, #babies, #redFish, #conservatonArea, #riverCleaning, #garbage
  {
    width: 365px;
    height: 353px;
  }


  /*ABOUT PAGE*/

  .peopleatTraa h2
  {
    font-size: 28px !important;
  }

  .peopleatTraa p
  {
    font-size: 24px !important;
  }

  .chair h4
  {
    margin-bottom: 80px;
  }

  #chairsecondRow
  {
    padding-top: 80px;
    padding-bottom: 80px;
  }


  .chair h2
  {
    font-size: 34px;
    line-height: 36px;
  }


  #footertraaLogo
  {
    width: 207px;
    height: 207px;
  }

  #Home, #About, #Project, #Newsletters, #Links, #Contact, #Home:hover, #About:hover, #Project:hover, #Newsletters:hover, #Links:hover, #Contact:hover
  {
    font-size: 38px;
  }

  #footNav ul
  {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  #contactInformation p
  {
    font-size: 30px;
    line-height: 36px;
  }

  #contactForm input[type=text], #contactForm input[type=name], #contactForm input[type=email], #contactForm input[type=phonenumber], #contactForm input[type=message]
  {
    font-size: 30px;
    width: 525.14px;
    height: 88.69px;
  }

  #message
  {
    height: 203.69px !important;
    padding-bottom: 120px;
  }


  #footerInfo
  {
    font-size: 30px;
    line-height: 36px;
  }

  #copyright
  {
    font-size: 18px !important;
  }

  }

}
}
}
